<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
	<springProperty scope="context" name="SERVICE_NAME" source="spring.application.name"/>
	<springProperty scope="context" name="LOG_HOME" source="logging.path" defaultValue="./logs"/>
	<springProperty scope="context" name="PROJECT_NAME" source="logging.projectName" defaultValue="hermes-producer"/>
	<!--常规日志格式-->
	<property name="NORMAL_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{X-B3-TraceId} %-5level %logger{50} - %msg%n"/>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/hermes-producer-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/hermes-producer-info.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>150MB</maxFileSize>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
		<encoder>
			<pattern>${NORMAL_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/hermes-producer-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/hermes-producer-error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>150MB</maxFileSize>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${NORMAL_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${NORMAL_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- 控制台彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="log.pattern.color" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint}%clr(${LOG_LEVEL_PATTERN:-%6p}) %clr(%X{requestId}){magenta} %clr(){faint} %clr([%15.15t]){faint} %clr(%logger){cyan}%clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

    <!-- Console 彩色输出设置 -->
    <appender name="STDOUT_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>${log.pattern.color}</pattern>
        </encoder>
    </appender>
    <!-- 控制台彩色日志 end-->

    <!-- 日志输出级别 -->
    <springProfile name ="local" >
        <root level="INFO">
            <appender-ref ref="STDOUT_COLOR"/>
            <appender-ref ref="FILE" />
            <appender-ref ref="FILE_ERROR"/>
        </root>
    </springProfile>

    <springProfile name ="dev" >
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE" />
            <appender-ref ref="FILE_ERROR"/>
        </root>
    </springProfile>

    <springProfile name ="alpha,prod" >
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE" />
            <appender-ref ref="FILE_ERROR"/>
        </root>
    </springProfile>

</configuration>
